---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Menu from '../components/Menu.astro';
import Footer from '../components/Footer.astro';
---
<Layout title="About Ahmad Musa">
  <Header title="About Ahmad Musa" href="/" />
  <Menu />

  <section id="wrapper">
    <header>
      <div class="inner">
        <h2>About Ahmad Musa</h2>
      </div>
    </header>

    <div class="wrapper">
      <div class="inner">
        <p>
          I am a Data Engineer with a background in Electrical Engineering and over
          4 years of experience in renewable energy, sustainability, and data-driven
          decision-making. Proficient in Python, SQL, Apache Spark, and Airflow, I
          specialise in designing scalable data pipelines, creating interactive
          dashboards, and optimising ETL processes to enhance data accuracy and
          efficiency.
        </p>
        <p>
          With a Master's in Energy Transitions and Sustainability, I have
          successfully improved data accuracy by 20%, increased ETL processing
          efficiency by 30%, and resolved 80% of customer complaints through
          actionable insights. My work focuses on leveraging data to drive
          sustainability goals, improve energy performance, and support strategic
          decision-making.
        </p>
        <p>
          Passionate about renewable energy and data innovation, I thrive on solving
          complex challenges and delivering impactful solutions. Let's connect and
          explore how we can drive positive change together!
        </p>
      </div>
    </div>
  </section>

  <Footer />
</Layout>
